# Google Apps Script web app URL for the waitlist / pre-registration form.
# Deploy the script in apps-script/Code.gs as a Web App (Execute as: Me, Who has access: Anyone)
# then paste the resulting /exec URL below.
VITE_WAITLIST_ENDPOINT=https://script.google.com/macros/s/YOUR_DEPLOYMENT_ID/exec
